@font-face
{
    font-family: 'foxsn';
    src: url('foxsn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#share-buttons img
{
width: 4%;
padding: 2%;
display: inline;
border:  none;
box-shadow: none;

}
#share-buttons p
{
margin-top:  10%;
font-size: 18px;
font-family: 'arial';
color: white;

}
body
{
	margin: 0;
    padding: 0;
    background-color: black;
    background-image: url('page.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

}
#bloc_page
{
    
}

h1 
{
    color:  white;
    text-align: center;
    margin-top: 16%;
    font-size: 50px;
    font-family: 'foxsn';

}
h2 
{
    color:  white;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 10%;
    font-size: 40px;
    font-family: 'foxsn';

}
#intro
{
	  color:  white;
    text-align: center;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    font-family: 'arial';
    

}
#bloc
{
     
     width: 75%;
     display: table;
     margin: 10px auto;

}
#support
{
  color:  black;
  background-color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'foxsn';
  padding: 20px;
  margin-top: 8%;

  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 10px;
  box-shadow: 4px 4px 0px grey;
}
#support a
{
	 color:  black;
	 text-align: center;
	 font-size: 30px;
	 font-family: 'foxsn';
	 text-decoration: underline;
}
#support a:hover {
     
     color: white;
     background-color: black;
     text-decoration: underline;
}
#nav {
  padding: 0; margin: 0;
  margin-top:  15px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center; /* centrer le texte */
  border-top: 2px groove white;
    border-bottom: 2px groove white;
    border-radius: 10px;
}
#nav li {
  display: inline;
  list-style: none;

  
}
#nav a {
  display:inline-block;
  margin: 20px 40px;
  color:  white;
  font-size: 20px;
  font-family: 'foxsn';
  text-decoration: none;
}

#nav a:hover {
     
     color: grey;
     background-color: black;
     text-decoration: underline;
}

footer
{
  color:  white;
  text-align: center;
  font-size: 16px;
  font-family: 'foxsn';
  margin-top:  10%;
  margin-bottom: 10%;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 700px) {
  #nav {
    float: none;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  
}
